:root {
  --sari: #fdc913;
  --acik-gri: #5f5f5f;
  --koyu-gri: #292929;
  --kirmizi: #ce2829;
  --bej: #faf7f2;

  min-height: 100vh;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  min-height: 100vh;
  background: var(--bej);
  display: flex;
  flex-flow: column;
}

/*Banner section start*/
.image-area {
  height: 1080px;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.main-banner-image {
  min-height: 1080px;
  width: auto;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner-header {
  width: 363px;
  height: 50px;
  margin: 56px auto;
  font-family: "Londrina Solid";
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0;
  color: white;
}
.banner-text-area {
  width: 586.67px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-text-area a {
  width: 193.27px;
  height: 56px;
  border-radius: 50px;
  background: var(--sari);
  font-family: "Barlow";
  font-weight: 600;
  font-size: 18px;
  line-height: 56px;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
  color: var(--koyu-gri);
  margin-top: 13.27px;
}
.banner-text-area .banner-text {
  width: 767.64px;
  height: 230px;
  text-align: center;
}

.banner-text-area .banner-text p {
  width: 767.6384887695312px;
  height: 195px;

  font-family: "Roboto Condensed";
  font-weight: 300;
  font-size: 86px;
  line-height: 92px;
  letter-spacing: 1.5px;
  text-align: center;
  margin: 0;
  color: white;
}
.banner-text-area .banner-text span {
  width: 324px;
  height: 46px;

  font-family: "Satisfy";
  font-weight: 400;
  font-size: 32px;
  line-height: 44.27px;
  letter-spacing: 0;
  text-align: center;
  color: var(--sari);
}

.main-banner-options {
  height: 94px;
  background: #ffffff;
  display: flex;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
}
.main-banner-options ul {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
  width: 1068px;
  justify-content: space-between;
}
.main-banner-options li {
  height: 42px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}
.main-banner-options span {
  height: 31px;
  font-family: "Barlow";
  font-weight: 500;
  font-size: 18px;
  line-height: 32.4px;
  letter-spacing: 0;
  text-align: center;
}
/*Banner section end*/

/*Content section start*/

/*Promotions start*/
.content-section {
  display: flex;
  flex-direction: column;
}
.content-section .promotion-area {
  display: flex;
  flex-direction: row;
  margin: 68px auto;
  width: 1072px;
  height: 449px;
  gap: 11px;
  /* flex-wrap: wrap;*/
  max-width: 100vw;
}
.content-section .promotion-area > div {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.content-section .promotion-area img {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}
.content-section .promotion-container {
  border: 0px solid transparent;
  border-radius: 12px;
  overflow: hidden;
  flex-grow: 1;
  position: relative;
}
.content-section .right-area .promotion-container {
  height: 220px;
}

.content-section .right-area {
  gap: 9px;
}

.content-section .left-area .promotion-content-left {
  width: 158.609375px;
  height: 251.75px;
  margin-top: 44px;
  margin-left: 49px;
  display: flex;
  flex-direction: column;
}
.content-section .left-area .promotion-content-left h3 {
  font-family: "Quattrocento";
  font-weight: 700;
  font-size: 68px;
  line-height: 72px;
  letter-spacing: 0;
  text-align: center;
  margin: 0;
  color: white;
}
.content-section .left-area .promotion-content-left p {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 20px;
  line-height: 26.76px;
  letter-spacing: 0;
  margin: 5px 0;
  width: 275px;
  height: 27px;
  color: white;
}

.content-section .order-button {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 14px;
  line-height: 48px;
  letter-spacing: 0;
  text-align: center;
  color: var(--kirmizi);
  background: white;
  text-decoration: none;
  margin-top: 20px;
  width: 138px;
  height: 48px;
  border-radius: 50px;
}

.content-section .right-area .promotion-content {
  margin-top: 28.5px;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
}

.content-section .right-top-promotion-area h3 {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 32px;
  line-height: 44.27px;
  letter-spacing: 0;
  margin: 0;
  color: white;
}
.content-section .right-bottom-promotion-area h3 {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 32px;
  line-height: 44.27px;
  letter-spacing: 0;
  margin: 0;
  color: black;
}
.content-section .right-bottom-promotion-area span {
  color: var(--kirmizi);
}
/*Promotions end*/
/*content text start*/
.content-text-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 55px;
  gap: 8px;
}
.content-text-area span {
  font-family: "Satisfy";
  font-weight: 400;
  font-size: 32px;
  line-height: 44.27px;
  letter-spacing: 0;
  text-align: center;
  color: var(--kirmizi);
}
.content-text-area h2 {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 42px;
  line-height: 56.2px;
  letter-spacing: 0;
  text-align: center;
  margin: 0;
}
.content-text-area br {
  display: none;
}

/*content text end*/
/*content options start*/

.content-options-area {
  display: flex;
  justify-content: center;
}

.content-options-area ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  gap: 22.39px;
  padding: 0;
}
.content-options-area li {
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 50px;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  background: white;

  color: var(--koyu-gri);
  align-items: center;
}
.content-options-area li.selected {
  background: var(--koyu-gri);
  color: white;
}
.content-options-area img {
  width: 42px;
  height: 42px;
}
.content-options-area span {
  font-family: "Barlow";
  font-weight: 500;
  font-size: 18px;
  line-height: 32.4px;
  letter-spacing: 0;
  text-align: center;
}

/*content options end*/
/*product area start*/

.product-area {
  margin: 0 auto;
  width: 1068px;
  height: 430px;
  gap: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
}
.product-area .product {
  background: white;
  height: 419px;
  border-radius: 12px;
  
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  gap: 24px;
}
.product-area .product .product-frame {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  gap: 24px;
  margin: 32px;
}
.product-area .product img {
  max-width: 270.67px;
}
.product-area .product-text-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}
.product-area .product-text-area .product-name {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 22px;
  line-height: 29.44px;
  letter-spacing: 0;
  margin: 0;
}
.product-area .product-detail-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product-area .product-rating {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 16px;
  line-height: 28.8px;
  letter-spacing: 0;
  color: #1b1b1bb2;
}
.product-area .product-price-comment-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  align-content: center;
}

.product-area .product-price-comment-area .comment-count {
  font-family: "Barlow";
  font-weight: 600;
  font-style: "SemiBold";
  font-size: 16px;
  line-height: 28.8px;
  letter-spacing: 0;
  color: #1b1b1bb2;
}
.product-area .product-price-comment-area .price {
  font-family: "Barlow";
  font-weight: 700;
  font-size: 20px;
  line-height: 24.76px;
  letter-spacing: 0;
  text-align: right;
  color: var(--koyu-gri);
}
/*product area end*/
/*Content section end*/
