:root {
  --sari: #fdc913;
  --acik-gri: #5f5f5f;
  --koyu-gri: #292929;
  --kirmizi: #ce2829;
  --bej: #faf7f2;

  min-height: 100vh;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  min-height: 100vh;
  background: #FAF7F2;
  display: flex;
  flex-flow: column;

}

/*Banner section start*/
.image-area{
  height: 1080px;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.main-banner-image {
  min-height: 1080px;
  width: auto;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner-header {
  width: 363px;
  height: 50px;
  margin: 56px auto;
  font-family: "Londrina Solid";
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0;
  color: white;
}
.banner-text-area {
  width: 586.67px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-text-area a {
  width: 193.27px;
  height: 56px;
  border-radius: 50px;
  background: #fdc913;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 18px;
  line-height: 56px;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
  color: #292929;
  margin-top: 13.27px;
}
.banner-text-area .banner-text {
  width: 767.64px;
  height: 230px;
  text-align: center;
}

.banner-text-area .banner-text p {
  width: 767.6384887695312px;
height: 195px;

font-family: "Roboto Condensed";
font-weight: 300;
font-size: 86px;
line-height: 92px;
letter-spacing: 1.5px;
text-align: center;
margin: 0;
color: white;
}
.banner-text-area .banner-text span {
  width: 324px;
  height: 46px;

  font-family: "Satisfy";
  font-weight: 400;
  font-size: 32px;
  line-height: 44.27px;
  letter-spacing: 0;
  text-align: center;
  color: #FDC913;

}

.main-banner-options{
height: 94px;
background: #FFFFFF;
display: flex;
align-items: center;
    max-width: 1920px;
    margin: 0 auto;

}
.main-banner-options ul{
margin: 0 auto;
padding: 0;
display: flex;
justify-content: center;
 list-style-type: none;
 width: 1068px;
 justify-content: space-between;
}
.main-banner-options li{
height: 42px;
display: flex;
flex-direction: row;
gap: 16px;
align-items: center;

}
.main-banner-options span{
height: 31px;
font-family: "Barlow";
font-weight: 500;
font-size: 18px;
line-height: 32.4px;
word-spacing: 0;
text-align: center;

}
/*Banner section end*/
